body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}

h1 {
    color: #6f0b0b;
    text-align: center;
}
form {
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.checkboxes label {
    display: block;
    margin-left: 10px;
}
button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    background: #f11c1c;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #dd1951;
}

#output {
    margin-top: 20px;
    background: #fff0f7;
    padding: 20px;
    border-radius: 10px;
    min-height: 100px;
}


/* Style for all dropdown menus  */
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    background: #fff;
    appearance: none;
    cursor: pointer;
}


select::-ms-expand {
    display: none; 
}

d
select:hover {
    border-color: #f11c1c;
}
